@import "mocha.css";

* {
  font-family: JetBrainsMonoNL NF Medium;
  font-size: 12px;
  min-height: 0;
}

#waybar {
  background: @base;
  color: @text;
}

#workspaces {
  margin: 0 5px 0 0;
  background-color: @base;
}

#workspaces button {
  color: @lavender;
  padding: 0.2rem;
}

#workspaces button.focused {
  color: @sky;
  background-color: @surface0;
}

#workspaces button:hover {
  color: @sapphire;
}

#custom-separator {
  color: @surface2;
  font-size: 16px;
  padding: 0 3px;
}

#custom-music {
  background-color: @base;
  color: @mauve;
  padding: 0.1rem 0.2rem;
  margin: 0 5px;
}

#tray {
  background-color: @base;
  padding: 0.1rem 0.2rem;
  margin: 0 5px;
}

#custom-gammastep {
  background-color: @base;
  color: @mauve;
  font-size: 14px;
  padding: 0 0.5rem 0 0.2rem;
  margin: 0 2px;
}

#idle_inhibitor {
  background-color: @base;
  color: @mauve;
  font-size: 14px;
  padding: 0 0.5rem 0 0.2rem;
  margin: 0 2px;
}

#pulseaudio {
  background-color: @base;
  color: @maroon;
  padding: 0.1rem 0.2rem;
  margin: 0 5px;
}

#clock {
  background-color: @base;
  color: @blue;
  padding: 0.1rem 0.2rem;
  margin: 0 5px;
}

#custom-power {
  background-color: @base;
  color: @red;
  padding: 0.1rem 0.2rem;
  margin: 0 11px 0 3px;
}
